<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Translanza</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="~/Content/img/favicon.png" />

    <!-- CSS
    ================================================== -->
    <!-- Stilo Login-->
    <link href="~/Content/styleLogin.css" rel="stylesheet">
    <!-- Bootstrap css file-->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome css file-->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <!-- Superslide css file-->
    <link rel="stylesheet" href="~/Content/css/superslides.css">
    <!-- Slick slider css file -->
    <link href="~/Content/css/slick.css" rel="stylesheet">
    <!-- smooth animate css file -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- Elastic grid css file -->
    <link rel="stylesheet" href="~/Content/css/elastic_grid.css">
    <!-- Circle counter cdn css file -->
    <link rel='stylesheet prefetch' href='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/css/jquery.circliful.css'>
    <!-- Default Theme css file -->
    <link id="orginal" href="~/Content/css/themes/yellow-theme.css" rel="stylesheet">
    <!-- Main structure css file -->
    <link href="~/Content/style.css" rel="stylesheet">

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    @*jquery*@
    <script type="text/javascript" src="~/Content_Admin/bootstrap/js/jquery.min.js"></script>
    <!-- initialize jQuery Library -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
    <!-- For smooth animatin  -->
    <script src="~/Content/js/wow.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Content_Admin/bootstrap/js/bootstrap.min.js"></script>
    @*<script src="~/Content/js/bootstrap.min.js"></script>*@
    <!-- superslides slider -->
    <script src="~/Content/js/jquery.superslides.min.js" type="text/javascript"></script>
    <!-- slick slider -->
    <script src="~/Content/js/slick.min.js"></script>
    <!-- for circle counter -->
    <script src='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js'></script>
    <!-- for portfolio filter gallery -->
    <script src="~/Content/js/modernizr.custom.js"></script>
    <script src="~/Content/js/classie.js"></script>
    <script src="~/Content/js/elastic_grid.min.js"></script>

    @*Validacion Campos*@
    <script src="~/Content_Admin/jquery.validate.min.js"></script>
    @*sweetalert2*@
    <script src="~/Content_Admin/SweetAlert2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="~/Content_Admin/SweetAlert2/sweetalert2.min.css">

    <!-- Custom js-->
    <script src="~/Content/js/custom.js"></script>
    <script>

        $(document).ready(function () {
            $('#Contraseña').keypress(function (e) {
                if (e.which == 13) {
                    Logeo();
                }
            })
        })
        function Logeo() {
            //$("#tabla").empty().html('<img style="display:block;margin-top:20px;margin:auto;" src="../Content/img/ui-anim_basic_16x16.gif" />');
            $("#mensaje").empty().append("<img src='Content/img/loading.gif'></img>");
            $.ajax({
                url: "Inicio/InicioSesion",
                type: "post",
                data: { usuario: $("#Usuario").val(), contraseña: $("#Contraseña").val() },
                success: function (data) {
                    if (data.resultado == true) {

                        window.location.href = data.ruta;
                    }
                    else {
                        $("#mensaje").empty().append("<label>Usuario o contraseña incorrecto.</label>");
                    }
                },
                error: function (error) {
                    debugger
                }
            })
        }

    </script>
</head>

<body>

    <!-- BEGAIN PRELOADER -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <div id="Dialog"></div>
    <!-- END PRELOADER -->
    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->
    <!--=========== BEGIN HEADER SECTION ================-->
    <header id="header">
        <!-- BEGIN MENU -->
        <div class="menu_area">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- LOGO -->
                        <!-- TEXT BASED LOGO -->
                        <!-- IMG BASED LOGO  -->
                        <a class="navbar-brand" href="#"><img src="~/Content/img/LOGO.png" style="height:70px;margin-top:-22px" alt="logo"></a>
                        @*<a class="navbar-brand" href="#"><span>Trans</span>Lanza</a>*@

                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul id="top-menu" class="nav navbar-nav navbar-right main_nav">
                            <li class="active"><a href="#">Inicio</a></li>
                            <li><a href="#about">Nosotros</a></li>
                            <li><a href="#works">Servicios</a></li>
                            <li><a href="#team">Clientes</a></li>
                            <li><a href="#contact">Contactenos</a></li>
                            @*<li><a href="#afiliacion">Afiliarse</a></li>*@

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="Login"><b>Login</b> <span class="caret"></span></a>
                                <ul id="login-dp" class="dropdown-menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-12">

                                                <form class="form" role="form" method="post" action="" accept-charset="UTF-8" id="login-nav">
                                                    @*@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                                                        {
                                                            @Html.AntiForgeryToken()*@
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="Usuario" placeholder="Usuario" required>
                                                        @*@Html.TextBoxFor(a => a.NombreUsuario, new { placeholder = "Nombre de usuario", Class = "form-control" })*@
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="password" class="form-control" id="Contraseña" placeholder="Contraseña" required>
                                                        @*@Html.PasswordFor(a => a.Contraseña, new { placeholder = "Contraseña", Class = "form-control" })*@
                                                    </div>
                                                    <div id="mensaje" align="center" class="form-group">

                                                    </div>
                                                    <div class="form-group">
                                                        <button type="button" class="btn btn-primary btn-block" onclick="Logeo()">Iniciar sesión</button>
                                                    </div>
                                                </form>

                                                @*<button type="submit" class="btn btn-default submit">Iniciar Sesión</button>*@
                                                @*@Html.ValidationSummary("")*@
                                            </div>
                                            <div class="bottom text-center">

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </div>
        <!-- END MENU -->
        <!-- BEGIN SLIDER AREA-->
        <div class="slider_area">
            <!-- BEGIN SLIDER-->
            <div id="slides">
                <ul class="slides-container">
                    <li>
                        <div class="slider_overlay"></div>
                        <img src="~/Content/img/Slides/slide_1.jpg" alt="img">
                        <div class="slider_caption">
                            <br /><br />
                            <h2>Translanza, Transportamos con responsabilidad</h2>
                        </div>
                    </li>
                    <li>
                        <div class="slider_overlay"></div>
                        <img src="~/Content/img/Slides/slide_2.jpg" alt="img">
                        <div class="slider_caption">
                            <br /><br />
                            <h2>Translanza, Transportamos con responsabilidad</h2>
                        </div>
                    </li>
                    <li>
                        <div class="slider_overlay"></div>
                        <img src="~/Content/img/Slides/slide_3.jpg" alt="img">
                        <div class="slider_caption">
                            <br /><br />
                            <h2>Translanza, Transportamos con responsabilidad</h2>
                        </div>
                    </li>
                    <li>
                        <div class="slider_overlay"></div>
                        <img src="~/Content/img/Slides/slide_4.jpg" alt="img">
                        <div class="slider_caption">
                            <br /><br />
                            <h2>Translanza, Transportamos con responsabilidad</h2>
                        </div>
                    </li>
                    <li>
                        <div class="slider_overlay"></div>
                        <img src="~/Content/img/Slides/slide_5.jpg" alt="img">
                        <div class="slider_caption">
                            <br /><br />
                            <h2>Translanza, Transportamos con responsabilidad</h2>
                        </div>
                    </li>
                    <li>
                        <div class="slider_overlay"></div>
                        <img src="~/Content/img/Slides/slide_6.jpg" alt="img">
                        <div class="slider_caption">
                            <br /><br />
                            <h2>Translanza, Transportamos con responsabilidad</h2>
                        </div>
                    </li>

                </ul>
                <!-- BEGAIN SLIDER NAVIGATION -->
                <nav class="slides-navigation">
                    <!-- PREV IN THE SLIDE -->
                    <a class="prev" href="#">
                        <span class="icon-wrap"></span>
                        <h3>
                            <strong>
                            </strong>
                        </h3>
                    </a>
                    <!-- NEXT IN THE SLIDE -->
                    <a class="next" href="#">
                        <span class="icon-wrap"></span>
                        <h3><strong>Siguiente</strong></h3>
                    </a>
                </nav>
            </div>
            <!-- END SLIDER-->
        </div>
        <!-- END SLIDER AREA -->
    </header>
    <!--=========== End HEADER SECTION ================-->
    <!--=========== BEGIN ABOUT SECTION ================-->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="about_area">
                        <!-- START ABOUT HEADING -->
                        <div class="heading">
                            <h2 class="wow fadeInLeftBig">Misión</h2>
                            <p align="justify">
                                TRANSLANZA S.A.S., con su eficiente recurso humano, presta servicios de transporte público terrestre automotor especial con parámetros internacionales de calidad y medio ambiente, seguridad y salud en el trabajo que permita superar las expectativas de los clientes, movilizando de manera responsable y oportuna a través de contratos a estudiantes, empleados, turistas, particulares y usuarios del servicio de salud que requieran desplazarse en forma expresa y segura a cualquier parte del territorio nacional, generando rentabilidad para sus accionistas.
                            </p>
                            <h2 class="wow fadeInLeftBig">Visión</h2>
                            <p align="justify">
                                La empresa TRANSLANZA S.A.S. en el año 2019 será reconocida a nivel nacional dentro de la industria transportadora por la eficiencia en el servicio y la mejora continua de sus procesos.
                            </p>
                            <h2 class="wow fadeInLeftBig">Política de calidad</h2>
                            <p align="justify">
                                TRANSLANZA S.A.S. ofrece servicios de manera oportuna y efectiva para el sector público y privado, cumpliendo con estándares internacionales, con su personal, los accionistas y la comunidad, generando rentabilidad, bienestar social y mejoramiento continuo.
                            </p>

                            <div class="row">

                                <div class="col-md-6">
                                    <h2 class="wow fadeInLeftBig">Objetivos de calidad</h2>
                                    <p>
                                        1. Cumplir de manera oportuna los requerimientos de los clientes.<br />
                                        2. Aplicar estándares internacionales.<br />
                                        3. Generar rentabilidad.<br />
                                        4. Contratar productos y servicios a nuestra entera satisfacción.<br />
                                        5. Capacitar a nuestro personal.<br />
                                    </p>
                                </div>

                                <div class="col-md-6">

                                    <img src="~/Content/img/imagen nosotros.jpg" alt="img">

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=========== END ABOUT SECTION ================-->
    <!--=========== BEGAIN WORKS SECTION ================-->
    <section id="works">
        <!-- BEGAIN FORTFOLIO WORSK SECTION -->
        <div class="row">
            <div class="portfolio_area">
                <!-- BEGAIN PORTFOLIO HEADER -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="container">
                            <div class="heading">
                                <h2 class="wow fadeInLeftBig">Servicios</h2>
                                <p>
                                    En Translanza sabemos cuáles son las exigencias actuales en la industria del transporte automotor, por lo tanto ofrecemos a nuestros clientes el servicio que se adapta a sus necesidades.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PORTFOLIO HEADER -->
                <!-- BEGAIN PORTFOLIO GALLERY -->
                <div class="row">
                    <div class="portfolio_gallery">
                        <div id="elastic_grid_demo"></div>
                    </div>
                </div>
                <!-- END PORTFOLIO GALLERY -->
            </div>
        </div>
        <!-- END FORTFOLIO WORSK SECTION -->
    </section>
    <!--=========== END WORKS SECTION ================-->
    <!--=========== BEGAIN TEAM SECTION ================-->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <!-- BEGAIN ABOUT HEADING -->
                    <div class="heading">
                        <h2 class="wow fadeInLeftBig">Nuestros Clientes</h2>
                    </div>
                    <div class="team_area">
                        <!-- BEGAIN TEAM SLIDER -->
                        <div class="team_slider">

                            <div class="col-lg-3 col-md-3 col-sm-4">
                                <div class="single_team wow fadeInUp">
                                    <div class="team_img">
                                        <img src="~/Content/img/Clientes/abogados.jpg" alt="img">
                                    </div>
                                    @*<h5 class="">Abogados Lozano Villa & Asociados</h5>*@
                                    <span>Abogados Lozano Villa & Asociados</span>
                                    <div class="team_social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-4">
                                <div class="single_team wow fadeInUp">
                                    <div class="team_img">
                                        <img src="~/Content/img/Clientes/agencia logistica.jpg" alt="img">
                                    </div>
                                    <span>Agencia Logistica Fuerzas Militares</span>
                                    <div class="team_social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-4">
                                <div class="single_team wow fadeInUp">
                                    <div class="team_img">
                                        <img src="~/Content/img/Clientes/alcaldainunchia.jpg" alt="img">
                                    </div>
                                    <span>Alcaldia Nunchia</span>
                                    <div class="team_social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-4">
                                <div class="single_team wow fadeInUp">
                                    <div class="team_img">
                                        <img src="~/Content/img/Clientes/canacol.jpg" alt="img">
                                    </div>
                                    <span>Canacol</span>
                                    <div class="team_social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-4">
                                <div class="single_team wow fadeInUp">
                                    <div class="team_img">
                                        <img src="~/Content/img/Clientes/circulo de suboficales.jpg" alt="img">
                                    </div>
                                    <span>Circulo de Suboficiales</span>
                                    <div class="team_social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3 col-md-3 col-sm-4">
                                <div class="single_team wow fadeInUp">
                                    <div class="team_img">
                                        <img src="~/Content/img/Clientes/Clermont.jpg" alt="img">
                                    </div>
                                    <span>Clermont</span>
                                    <div class="team_social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-4">
                                <div class="single_team wow fadeInUp">
                                    <div class="team_img">
                                        <img src="~/Content/img/Clientes/Club Militar.jpg" alt="img">
                                    </div>
                                    <span>Club Militar</span>
                                    <div class="team_social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-4">
                                <div class="single_team wow fadeInUp">
                                    <div class="team_img">
                                        <img src="~/Content/img/Clientes/colscan.jpg" alt="img">
                                    </div>
                                    <span>Colscan</span>
                                    <div class="team_social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-4">
                                <div class="single_team wow fadeInUp">
                                    <div class="team_img">
                                        <img src="~/Content/img/Clientes/coraltec.jpg" alt="img">
                                    </div>
                                    <span>Coraltec</span>
                                    <div class="team_social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-4">
                                <div class="single_team wow fadeInUp">
                                    <div class="team_img">
                                        <img src="~/Content/img/Clientes/fiduoccidente.jpg" alt="img">
                                    </div>
                                    <span>Fiduoccidente</span>
                                    <div class="team_social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3 col-md-3 col-sm-4">
                                <div class="single_team wow fadeInUp">
                                    <div class="team_img">
                                        <img src="~/Content/img/Clientes/Fodesep.jpg" alt="img">
                                    </div>
                                    <span>Fodesep</span>
                                    <div class="team_social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-4">
                                <div class="single_team wow fadeInUp">
                                    <div class="team_img">
                                        <img src="~/Content/img/Clientes/Hocol.jpg" alt="img">
                                    </div>
                                    <span>Hocol</span>
                                    <div class="team_social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-4">
                                <div class="single_team wow fadeInUp">
                                    <div class="team_img">
                                        <img src="~/Content/img/Clientes/Honor.jpg" alt="img">
                                    </div>
                                    <span>Honor</span>
                                    <div class="team_social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=========== END TEAM SECTION ================-->
    <!--=========== BEGAIN CONTACT SECTION ================-->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!-- START CONTACT HEADING -->
                    <div class="heading">
                        <h2 class="wow fadeInLeftBig">Contactenos</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- BEGAIN CONTACT CONTENT -->
                <div class="contact_content">
                    <!-- BEGAIN CONTACT FORM -->
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <div class="contact_form">

                            <!-- FOR CONTACT FORM MESSAGE -->
                            <div id="form-messages"></div>

                            <form id="formulario">
                                <input id="nombre" name="nombre" class="form-control" type="text" placeholder="Nombre" required>
                                <input id="correo" name="correo" class="form-control" type="email" placeholder="Correo" required>
                                <input id="asunto" name="asunto" class="form-control" type="text" placeholder="Asunto " required>
                                <textarea id="mensaje" name="mensaje" class="form-control" cols="30" rows="10" placeholder="Mensaje" required></textarea>
                                </br>
                                <button type="button" onclick="myfunction()" class="btn btn-success">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=========== END CONTACT SECTION ================-->
    <!--=========== BEGAIN CONTACT FEATURE SECTION ================-->
    <section id="contactFeature">
        <!-- SKILLS COUNTER OVERLAY -->
        <div class="slider_overlay"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="container">
                    <div class="contact_feature">
                        <!-- BEGAIN CALL US FEATURE -->
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="single_contact_feaured wow fadeInUp">
                                <i class="fa fa-phone"></i>
                                <h4>Llámanos</h4>
                                <p>310 680 63 63 - (O31)2483826</p>

                            </div>
                        </div>
                        <!-- BEGAIN CALL US FEATURE -->
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="single_contact_feaured wow fadeInUp">
                                <i class="fa fa-envelope-o"></i>
                                <h4>Correo Electrónico</h4>
                                <p>contacto@translanza.com</p>
                            </div>
                        </div>
                        <!-- BEGAIN CALL US FEATURE -->
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="single_contact_feaured wow fadeInUp">
                                @*<i class="fa fa-map-marker"></i>
                                    <h4>Office Location</h4>
                                    <p>Your Company Office Location</p>*@
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d614.3422065322764!2d-74.0775398474871!3d4.653871107035109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a4cc5641387%3A0xebb96830388c4481!2sTRANSLANZA+S.A.S!5e0!3m2!1ses!2ses!4v1491315130485" width="230" height="125" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <!-- BEGAIN CALL US FEATURE -->
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="single_contact_feaured wow fadeInUp">
                                <i class="fa fa-clock-o"></i>
                                <h4>Horario Atención</h4>
                                <p>Lunes-Viernes 8:00 am - 5:00 pm</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=========== END CONTACT FEATURE SECTION ================-->
    <!--=========== BEGAIN FOOTER ================-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="footer_left">
                        <!--=========== Designed By WpFreeware Team ================-->
                        <p>Copyright &copy; 2017 <a href="http://www.Translanza.com">Translanza</a>. Todos los derechos reservados</p>
                        <!--=========== Designed By WpFreeware Team ================-->
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="footer_right">
                        <ul class="social_nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--=========== END FOOTER ================-->
</body>
</html>

<script>

    function myfunction() {

        debugger

        var validator = $("#formulario").validate();
        if (!validator.form()) {
            return;
        }

        var formData = new FormData(document.getElementById("formulario"));

        debugger
        $.ajax({
            url: "inicio/enviarCorreo",
            data: formData,
            type: "post",
            contentType: false,
            processData: false,
            success: function (data) {
                AlertaConfirmacion("Envio Exitoso", "", "success");
                $("#nombre").val("");
                $("#correo").val("");
                $("#asunto").val("");
                $("#mensaje").empty();

            },
            error: function (error) {
                AlertaConfirmacion("Envio Incorrecto", "", "error");
            }
        })
    }

    $(document).ready(function () {

        if ($('.navbar-toggle').is(":visible")) {
            $("#Login").attr("onclick", "ModalLogin()");
        } else {
            $("#Login").removeAttr("onclick", "ModalLogin()");
        }


        $("#elastic_grid_demo").elastic_grid({
            'hoverDirection': true,
            'hoverDelay': 0,
            'hoverInverse': false,
            'expandingSpeed': 500,
            'expandingHeight': 500,
            'items':
            [
                {
                    'title': 'Empresarial',
                    'description': 'Prestamos un completo servicio a empresas públicas y privadas con calidad y responsabilidad en el transporte de empresarios, ejecutivos y empleados, garantizando su desplazamiento y de sus elementos de trabajo en el tipo de vehículo que se ajuste a sus necesidades; contribuyendo así a fortalecer su productividad, seguridad y comodidad.',
                    'thumbnail': ['../Content/img/Servicios/Pequeño/empresarial1.png', '../Content/img/Servicios/Pequeño/empresarial2.png', '../Content/img/Servicios/Pequeño/empresarial3.png', '../Content/img/Servicios/Pequeño/empresarial4.png'],
                    'large': ['../Content/img/Servicios/Grande/empresarial1.png', '../Content/img/Servicios/Grande/empresarial2.png', '../Content/img/Servicios/Grande/empresarial3.png', '../Content/img/Servicios/Grande/empresarial4.png'],
                    'button_list': [],
                    'tags': ['Photoshop']
                },

                {
                    'title': 'Turistico',
                    'description': 'Prestamos un servicio de transporte exclusivo para agencias de viajes, operadores turísticos y grupos familiares que deseen viajar a cualquier lugar del territorio nacional de manera cómoda y confiable.',
                    'thumbnail': ['../Content/img/Servicios/Pequeño/turistico1.png', '../Content/img/Servicios/Pequeño/turistico2.png', '../Content/img/Servicios/Pequeño/turistico3.png', '../Content/img/Servicios/Pequeño/turistico4.png'],
                    'large': ['../Content/img/Servicios/Grande/turistico1.png', '../Content/img/Servicios/Grande/turistico2.png', '../Content/img/Servicios/Grande/turistico3.png', '../Content/img/Servicios/Grande/turistico4.png'],
                    'button_list': [],
                    'tags': ['Photoshop']
                },

                {
                    'title': 'Escolar',
                    'description': 'Brindamos servicio de transporte escolar dando cabal cumplimiento a todas las normas legales vigentes, así como las revisiones técnico mecánicas de nuestro parque automotor y la selección de personal idóneo con el objetivo principal de brindar seguridad a los estudiantes. Contamos co microbuses y buses para transportar con responsabilidad a estudiantes en colegios y universidades, garantizando la puntualidad en los recorridos.',
                    'thumbnail': ['../Content/img/Servicios/Pequeño/escolar1.png', '../Content/img/Servicios/Pequeño/escolar2.png', '../Content/img/Servicios/Pequeño/escolar3.png'],
                    'large': ['../Content/img/Servicios/Grande/escolar1.png', '../Content/img/Servicios/Grande/escolar2.png', '../Content/img/Servicios/Grande/escolar3.png'],
                    'button_list': [],
                    'tags': ['Photoshop']
                },

                {
                    'title': 'Mantenimiento',
                    'description': 'Contamos con un completo equipo humano y tecnológico al servicio de nuestro parque automotor, garantizando la disponibilidad de estos, ofreciendo mantenimiento a nuestros vehículos, afiliados y contratados.',
                    'thumbnail': ['../Content/img/Servicios/Pequeño/mantenimiento1.png', '../Content/img/Servicios/Pequeño/mantenimiento2.png', '../Content/img/Servicios/Pequeño/mantenimiento3.png'],
                    'large': ['../Content/img/Servicios/Grande/mantenimiento1.png', '../Content/img/Servicios/Grande/mantenimiento2.png', '../Content/img/Servicios/Grande/mantenimiento3.png'],
                    'button_list': [],
                    'tags': ['Photoshop']
                },
            ]
        })
    });

    function ModalLogin() {
        $("#Dialog").load('../Inicio/Login');
    }

    function AlertaConfirmacion(encabezado, mensaje, tipo) {
        swal({
            title: encabezado,
            text: mensaje,
            type: tipo,
            showCancelButton: false,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '',
            confirmButtonText: 'OK',
            cancelButtonText: '',
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: '',
            buttonsStyling: false
        }).then(function () { })
    }

    $.validator.messages.required = 'Campo requerido';
</script>
